/* $white: #e8e8e8;
$secondary: #5588a3;
$blue: #145374;
$primary: #00334e; */

.about-us-container{
	height: 50vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.about-us-container h3{
	font-size: 24px;
	color: #145374;
	padding-top: 1vh;

}

.about-content{
	height: 60%;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
}

.about-content p{
  max-width: 80%;
  text-align: justify;
  text-justify: inter-word;
}

.about-img{
	height: 11em;
	width: 11em;
	object-fit: cover;
}

/* Form */

.contact-container{
	height: 80vh;
	width: 100%;
	/* border: solid red 2px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  background-color: #5588a3;
  
}

.contact-container h3{
	font-size: 24px;
	color: white;
	padding-top: 1vh;
}

.form-container{
	max-height: 80%;
  width: 35%;
  margin-bottom: 30px;
	/* border: solid red 2px; */
	display: flex;
	justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.form-fields{
	width: 100%;
	display: flex;
	flex-direction: column;
  padding: 15px;
  background-color: #e8e8e8;
}


.field{
  height: 40px;
  min-width: 100%;
  border: #145374;
  padding: 0;
  color: #145374;
  background-color: #e8e8e8;
  border-bottom: 3px solid rgb(204, 204, 204);
  outline: none;
  font-size: 1.1em;
}

.field:focus{
  border-bottom: 3px solid #145374;
}


.campos{
  /* border: solid red 2px; */
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

textarea{
  height: 150px !important;
  border: 3px solid rgb(204, 204, 204) !important;
  font-size: 1.3em !important;
  resize: none;
}

textarea:focus{
  border: 3px solid #145374 !important;
}

.contact-btn{
	min-width: 20%;
	background-color: #5588a3;
  color: white;
  padding: 12px 20px;
  border: none;
	font-size: 1.1em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
	
}

.contact-btn:hover{
	background-color: #145374;
}