:root {
  --CL-LIGHT: #e8e8e8;
  --CL-DARK: #131924;
  --CL-BLUE: #5588a3;
  --slide-count: 7;
  --slide-width: 28em;
}

.carousel-container {
  position: relative;
  min-height: 80vh;
  width: auto;
  font-family: "Bebas Neue", sans-serif;
  padding: 3em 3vw;
  overflow-x: hidden;
  margin-bottom: 100px
}

.carousel-container .carousel {
  box-sizing: border-box;
  max-width: calc(var(--slide-width) * var(--slide-count));
  display: flex;
  justify-content: space-between;
  padding-left: calc(50% - (var(--slide-width) / 2));
  border: 1px solid red;
}

.carousel__slide {
  background-image: url("https://www.tesla.com/content/dam/tesla-site/sx-redesign/img/socialcard/MX.jpg");
  background: var(--CL-BLUE);
  background-position: center;
  background-size: cover;
  /* background-blend-mode: multiply; */
  /* height: 28em; */
  /* min-width: 28em; */
  /* box-shadow: 1em 1em 3em 0 rgba(180, 140, 140, 0.25); */
  /* opacity: 0.35; */
  /* transform: scale(0.85); */
  /* position: relative; */
  /* cursor: pointer; */
}