.container-mini {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  .title-mini {
    width: 100%;
    text-align: center;
    color: #145374;
  }

  .container-image {
    height: 500px;
    width: 25%;
    object-fit: cover;
    background-color: black;
  }

  .mini-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-color: black;
  }

  .mini-image:hover { opacity: 0.5; }
}