.container-mini {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  .title-mini {
    width: 100%;
    text-align: center;
    color: #145374;
  }

  .container-image {
    height: 500px;
    width: 25%;
    object-fit: cover;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mini-image {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-color: black;
    opacity: 0.5;
  }

  .mini-button {
    position: absolute;
    padding: 1em;
    border: 1px white solid;
    background-color: transparent;
    color: white;
  }

  .mini-button:hover {
    background-color: #145374;
  }

  .mini-image:hover { opacity: 1; }
}