.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0,.8);
  height: 100vh;
  width: 100%;
}

.modal.on {
  display: block;
}

.modal-container {
  width: 60vw;
  height: 70vh;
  display: flex;
  position: absolute;
  left: 50vw - 30vw;
  top: 50vh - 35vh;
  background: #e8e8e8;
}

.modal-img {
  width: 50%;
  height: 100%;
  background: rgb(124, 110, 110);
  background-image: url("https://www.autobild.es/sites/autobild.es/public/styles/main_element/public/dc/fotos/tesla_model_S_001.jpg?itok=jttOEAGK");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.modal-content {
  padding: 10px;
  width: calc(50% - 20px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.modal-description {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.btn-comprar {
  align-self: center;
  background: #145374;
  padding: 10px;
  color: #e8e8e8;
}

.btn-comprar:hover {
  cursor: pointer;
  background: #5588a3;
  transform: scale(1.03)
}